@keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  
  @keyframes slideFromUp {
    0% {
      transform: translateY(-20%);
    }
    25% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-7px);
    }
    75% {
      transform: translateY(0);
    }
  }
  
  @keyframes slideFromDown {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .list-enter-active {
    animation: slideFromUp 0.7s;
  }
  .list-leave-active {
    transition: all 1s ease;
  }
  .list-enter-from,
  .list-leave-to {
    animation: shake 0.7s;
    filter: blur(5px);
    opacity: 0;
  }
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.2s ease;
  }
  
  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }