@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Quicksand', sans-serif !important;
   
  }

body {
  background: var(--background) !important;
}

:root {
    --signUpInputBorder: rgb(99, 99, 114);
    --loginSignUpButton: rgba(4, 52, 83, 0.869);
    --backgroundColor:   #121212;
    --dashBorder:        #a3a3a3;
    --blue:              #164e63;
    --blueHover:         #06b6d4;
    --background:        #343438;
    --postIcon:          #e7e5e4;
}
