/* THIS IS FOR V-TEXT-FIELD AKA INPUTS ON LOGIN*/
* {
    font-family: 'Quicksand', sans-serif !important;
  }
  .log:deep() .v-input__details {
    display: none;
  }
  
  .button:deep() .v-btn {
    width: 100% !important;
    background: var(--loginSignUpButton) !important;
    border-radius: 5px;
    text-transform: none !important;
    transition: all 0.3s ease-in-out !important;
  }
  .log:deep() .v-field--variant-filled .v-field__outline::before,
  .v-field--variant-underlined .v-field__outline::before {
    display: none;
  }
  
  .log:deep() .v-field__outline::after {
    border: none !important;
  }
  .log:deep() .v-field {
    border-radius: 0px !important;
  }
  .log:deep() .v-field--variant-filled {  
    border-radius: 15px !important;
    box-shadow: none !important;
    width: 75% !important;
    background: rgb(11, 12, 5);
  }
  
  .log:deep() .v-input__control {
    width: 100% !important;
  }
  



  /* .signup:deep() .v-input__details {
    display: none;
  } */
  
  .signup-btn:deep() .v-btn {
    width: 100% !important;
    background: var(--loginSignUpButton) !important;
    border-radius: 5px;
    text-transform: none !important;
    transition: all 0.3s ease-in-out !important;
  }
.signup:deep() .v-field--variant-filled .v-field__outline::before,
  .v-field--variant-underlined .v-field__outline::before {
    display: none;
  }
  
  .signup:deep() .v-field__outline::after {
    border: none !important;
  }
  .signup:deep() .v-field {
    border-radius: 0px !important;
  }
  .signup:deep() .v-field--variant-filled {
    border: solid 1px linear-gradient(90deg, rgba(211, 233, 10, 0.767) 0%, rgba(39, 189, 94, 0.767) 100%) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    width: 75% !important;
    background: #27272a;
    border-bottom: solid 4px var(--signUpInputBorder) !important;
    border-right: solid 3px var(--signUpInputBorder) !important;
  }
  
  .signup:deep() .v-input__control {
    width: 100% !important;
    color: white !important;
  }
  

  /* THIS IS FOR DASHBOARD INPUT TO POST A STATUS*/

  /* .v-input__control:hover, */
/* .v-field__input:hover, */
/* v-text-field:hover,  */
/* .v-field__field:hover */

.text-container:deep() .v-field__outline {
  display: none !important;
}

.text-container:deep() .v-field--variant-filled, .v-field__overlay  {
  background-color: inherit !important;
  border-bottom: solid .2px var(--dashBorder);
  border-radius: 0px !important;
}

.no-b:deep() .v-field--variant-filled, .v-field__overlay  {
  background-color: inherit !important;
  border-bottom: none;
  border-radius: 0px !important;
}

.text-container:deep() .v-field__overlay {
  background-color: inherit !important;
  border-radius: 0px !important;
}

.text-container:deep() .v-field__overlay {
  /* border: solid 2px red !important; */
  background: #5d615d !important;
  border-radius: 0px !important;
}

.text-container:deep() .v-label {
  text-transform: none !important;
  border-radius: 0px !important;
}

.text-container:deep() .v-container {
  padding: 0px !important;
}
